DATABRICKS_HOST=https://dbc-0d6287ce-5988.cloud.databricks.com
DATABRICKS_SECRET_SCOPE=mlops
DATABRICKS_SECRET_KEY=databricks-pat

MLFLOW_TRACKING_URI=databricks
MLFLOW_REGISTRY_URI=databricks-uc
MLFLOW_EXPERIMENT_NAME=/Shared/fraud-training

FEATURE_TABLE=main.risk.feature_store_transacoes
REGISTERED_MODEL_NAME=main.risk.fraud_model
MODEL_OUTPUT_TABLE=main.risk.model_output
MODEL_ALIAS=champion
